@use "variables" as *;
.container {
  display: grid;
  grid-template-columns: 250px 1fr;
  gap: 4rem;
}
.banner {
  grid-template-columns: 2/-1;
  width: 98vw;
  // height: 120vh;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
  gap: 0.5rem;
  margin-left: auto;
  margin-right: auto;
  padding-top: 2rem;
  padding-left: 4rem;
  height: 100vh;
}

.video__container {
  grid-column: 1/4;
  grid-row: 1/4;
  overflow: hidden;
  position: relative;

  // .video__container:hover {
  //   .video__container-content {
  //     opacity: 1 !important;
  //   }
  // }
}

.image__container-1 {
  position: relative;
  grid-column: 4/5;
  grid-row: 1/2;
  border: none;
  outline: none;
  overflow: hidden;
  transition: all 0.5s ease-in-out;
  &:hover {
    background: linear-gradient(#2588bdb0, rgba(0, 0, 0, 0.7));
  }
}

.image__container-2 {
  grid-column: 4/5;
  grid-row: 2/4;
  border: none;
  outline: none;
  overflow: hidden;
  transition: all 0.5s ease-in-out;
  &:hover {
    background: linear-gradient(#2588bdb0, rgba(0, 0, 0, 0.7));
  }
}
.container-1 {
  grid-column: 1/2;
  grid-row: 4/6;
}
.container-2 {
  grid-column: 2/3;
  grid-row: 4/6;
}
.container-3 {
  grid-column: 3/4;
  grid-row: 4/6;
}
.container-4 {
  grid-column: 4/5;
  grid-row: 4/6;
}
@media screen and (max-width: 1000px) {
  .banner {
    grid-template-rows: repeat(5, 1fr);
    height: auto;
  }
  .video__container {
    grid-column: 1/-1;
    grid-row: 1/3;
  }
  .image__container-1 {
    grid-column: 1/3;
    grid-row: 3/4;
  }
  .image__container-2 {
    grid-column: 3/5;
    grid-row: 3/4;
  }
  .container-1 {
    grid-column: 1/3;
    grid-row: 4/5;
  }
  .container-2 {
    grid-column: 3/5;
    grid-row: 4/5;
  }
  .container-3 {
    grid-column: 1/3;
    grid-row: 5/6;
  }
  .container-4 {
    grid-column: 3/5;
    grid-row: 5/6;
  }
  .card__container {
    width: 100%;
    height: 300px;
  }
}
@media screen and (max-width: 500px) {
  .banner {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(7, 1fr);
  }
  .video__container {
    display: none;
  }
  .image__container-1 {
    grid-column: 1/-1;
    grid-row: 1/3;
  }
  .image__container-2 {
    grid-column: 1/-1;
    grid-row: 3/4;
  }
  .container-1 {
    grid-column: 1/-1;
    grid-row: 4/5;
  }
  .container-2 {
    grid-column: 1/-1;
    grid-row: 5/6;
  }
  .container-3 {
    grid-column: 1/-1;
    grid-row: 6/7;
  }
  .container-4 {
    grid-column: 1/-1;
    grid-row: 7/8;
  }
  .card__container {
    width: 100%;
    height: auto;
  }
  .search {
    &-input {
      height: 60%;
    }
    &-icon {
      right: 3rem;
    }
  }
  .image__container-content:hover {
    opacity: 1;
  }
  .search {
    height: 12%;
  }
}
