// <i class="fas fa-ellipsis-h"></i> for dotted drop down link

.btn {
  //   display: ;
  text-decoration: none;
  padding: 0.6rem 1rem;
  // background-color: $colors("primary-color-3");
  background-color: #187795;
  color: #fff;
  display: inline-block;
  outline: none;
  border: none;
  font-size: 0.5rem;
  margin: 0 0.3rem;

  &:hover {
    cursor: pointer;
    background-color: #38686a;
    transform: scale(1.05);
  }
}
